.box {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  position: relative; /* WAJIB */
}

#suggestions {
  position: absolute;      /* WAJIB */
  top: 60px;               /* tepat di bawah input */
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 9999;           /* WAJIB */
}

#suggestions div {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#suggestions div:hover {
  background: #f0f0f0;
}
.selected-item img {
  width: 120px;
  height: auto;
  display: block;
  margin-top: 6px;
}

.selected-item {
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 10px;
}
.chip {
  display: inline-block;
  background: #eee;
  padding: 4px 10px;
  border-radius: 14px;
  margin-right: 6px;
}
