body {
  font-family: Arial, sans-serif;
  padding: 16px;
  background: #f5f5f5;
}

h2 {
  text-align: center;
}

.box {
  max-width: 420px;
  margin: auto;
}



#suggestions {
  background: #fff;
  border: 1px solid #ddd;
}

.suggest-item {
  padding: 10px;
  cursor: pointer;
}

.suggest-item:hover {
  background: #eee;
}

.selected-item {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.selected-item .name {
  font-weight: bold;
  margin-bottom: 6px;
}

.selected-item img {
  width: 100%;
  border-radius: 6px;
}

.selected-item button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: #ff5c5c;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
#selected {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolom */
  gap: 8px;
  margin-top: 12px;

  background: #f0f2f5;
  padding: 10px;
  border-radius: 12px;
}

.chip {
  background: #ffffff;
  padding: 6px 8px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.chip button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}
#search {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}
